{% for service in services %}
    {% if service.id %}
        <div class="modal fade" id="delete_service_{{ service.id }}" role="dialog" data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content p-4 rounded shadow">
                    <form action="{{ url_for('services.delete_service', id=service.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить услугу</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <p>Вы уверены что хотите удалить сотрудника - {{ service.title }} ?</p>
                                <p>Данное действие невозможно отменить после подтверждения.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                            </button>
                            {{ form.submit(value='Удалить') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
