{% extends 'base.html' %}
{% block content %}
    <div class="container">


        <div class="modal-dialog modal-dialog-centered position-absolute top-50 start-50 translate-middle"
             style="width: 25rem;">
            <div class="modal-content service p-4 rounded shadow">

                <p class="text-center card-text">Благодарим вас за бронирование услуги, напоминание отправленно на
                    ваш номер телефона</p>
                <hr>
                <a href="{{ url_for ('home_page') }}" class="btn btn-primary">Вернуться на главную</a>
            </div>
        </div>

    </div>
{% endblock %}
