.login-form,
.register-form {
    width: 350px;
    background-color: #212529;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-group label {
    font-weight: 100;
    margin-bottom: 1px;

}
.form-group input {
    font-weight: 100;
    margin-bottom: 10px;

}

.form-control {
    border-radius: 3px;
    border-color: #ced4da;
    box-shadow: none;
    transition: border-color 0.3s ease;
}


.form-control:focus {
    border: 2px solid #007bff;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0069d9;
}
