{% extends 'auth/base.html' %}

{% block content %}
    <div class="login-form p-4 rounded shadow">
        <h2 class="text-center mb-4">{{ title }}</h2>
        <form action="{{ url_for('auth.process_login') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username() }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password() }}
            </div>
            {{ form.submit }}

            <p class="text-center mt-3">
                Не имеете аккаунта? <a href="{{ url_for('auth.registration_page') }}">Зарегистрироваться</a>
            </p>
        </form>
        {% include 'alert_flash.html' %}
    </div>

{% endblock %}
