{% extends 'auth/base.html' %}

{% block content %}
    <div class="register-form p-4 rounded shadow">
        <h2 class="text-center mb-4">{{ title }}</h2>
        <form method="post">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Введите имя">
            </div>
            <div class="form-group">
                <label for="email">Электронная почта:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Введите электронную почту">
            </div>
            <div class="form-group">
                <label for="phone">Номер телефона:</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Введите номер телефона">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
            </div>
            <div class="form-group">
                <label for="confirm-password">Подтверждение пароля:</label>
                <input type="password" class="form-control" id="confirm-password" name="password2" placeholder="Подтвердите пароль">
            </div>
            <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            <p class="text-center mt-3">
                Уже имеете аккаунт? <a href="{{ url_for('auth.login_page') }}">Войти</a>
            </p>
        </form>
    </div>

{% endblock %}