{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'mainmenu.html' %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="col-md-9 col-lg-12 p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        {% if notifications %}
                        <h2>У вас есть не прочитанные уведомления</h2>
                        {% else %}
                        <h2>У вас нет не прочитанных уведомлений</h2>
                        {% endif %}
                    </div>
                    <hr>
                    {% for notification in notifications %}
                        <div class="toast align-items-center text-bg-primary-user border-0 mb-3" role="alert"
                             aria-live="assertive"
                             aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">

                                    {{ notification }}

                                </div>
                                <form class="me-2 m-auto"
                                      action="{{ url_for('notification.if_read', id=notification.id) }}" method="post">
                                    <button type="submit" class="btn-close btn-close-white"
                                            data-bs-dismiss="toast"
                                            aria-label="Close"></button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}