{% for employee in employees %}
    {% if employee.id %}
        <div class="modal fade" id="delete_employee_{{ employee.id }}" role="dialog" data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content p-4 rounded shadow">
                    <form action="{{ url_for('employees.delete_employee', id=employee.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить сотрудника</h1>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <p>Вы уверены что хотите удалить сотрудника
                                    - {{ employee.first_name }} {{ employee.last_name }}?</p>
                                <p>Данное действие невозможно отменить после подтверждения.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                            </button>
                            {{ form.submit(value='Удалить') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
