{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1>Booking of services - Сервис бронирования услуг</h1>

            <p>Сервис бронирования услуг - это онлайн-платформа, которая позволяет предпринимателям создавать и
                управлять
                своими
                услугами, такими как маникюр, парикмахерская и т.д., а клиентам - легко и удобно записываться на эти
                услуги
                онлайн.</p>

            <p>Предпринимателям предоставляется возможность создавать свой профиль, добавлять информацию о своих
                услугах,
                включая цены, описание, управлять графиком записей. Предприниматели могут настраивать
                параметры бронирования, такие как минимальное и максимальное время бронирования, а также
                устанавливать
                ограничения на количество бронирований в определенное время.</p>

            <p>Клиенты могут искать услуги по различным критериям, таким как тип услуги, местоположение и время, и
                просматривать доступные варианты бронирования. Клиенты могут выбрать услугу, которую они хотят
                забронировать, и
                выбрать подходящее время для бронирования.</p>

            <p>Сервис бронирования услуг предоставляет удобный и простой способ для предпринимателей управления их
                услугами
                и
                бронированиями, а также для клиентов - быстро и легко записываться на необходимые услуги онлайн. Это
                позволяет
                экономить время и усилия как предпринимателям, так и клиентам, и улучшает общий опыт работы с
                услугами.</p>
            <div class="row col-2">
            <a href="#" class="btn btn-success mt-3">Личный кабинет</a>

             <a href="#" class="btn btn-primary mt-3">Забронировать услугу</a>
</div>
        </div>
    </div>
{% endblock %}